/* Contact Info */

textarea {
	resize: none;
}

.form p {
	font-size: 18px;
	margin-bottom:10px;
}

.container .col-md-12 .col-md-6 {
	margin-top:20px;
}
.container .col-md-12 .col-md-5 {
	margin-top:20px;
}

.col-sm-1 {
	width: 100px;
}

.col-sm-10{
	padding-left:440px;
}