/* Home Pictures */

.maindonut {
	display: block;
	margin-left: auto;
	margin-right: auto;
 	width: 740px;
  	height: 350px;
}

.maincoffee{
	display: block;
	margin-left: auto;
	margin-right: auto;
 	width: 370px;
  	height: 350px;
}

.homepics {
	margin-top: 30px;
}

.homepics .col-md-8 {
	padding: 0;
}

.homepics .col-md-4 {
	padding: 0;
}

/* Home Intro */

.intro {
	margin-top: 25px;
	font-size: 14px;
}