/* Menu Pictures */

.menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
 	width: 1110px;
  	height: 620px;
}

.upper {
	display: block;
	margin-left: auto;
	margin-right: auto;
 	width: 320px;
  	height: 280px;
}

.lower {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
 	width: 320px;
  	height: 280px;
}

.menupics {
	margin-top: 30px;
}

.uppermenu {
	margin-top: 20px;
}

.uppermenu .col-md-12{
	padding-right: 0;
}

.uppermenu .col-md-4 {
	padding-left: 25px;
	padding-right: 0;
}

.lowermenu {
	margin-top: 320px;
}

.uppermenu p{
	margin-bottom: 0;
	font-size: 18px;
}